/* Variáveis do Design System */
:root{
    --primary-color: rgb(212, 144, 144);
    --primary-hover: rgb(228, 161, 161);
    --bg-color: rgb(190, 120, 120);
    --text-color: rgb(228, 145, 145);
    --white: rgb(196, 124, 124);
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px  rgba(0, 0, 0, 0.1);
    --radius: 8px;
    --font:"Montserrat", sans-serif;

}